<div id="spinner" class="loader loader--style1" title="3">
    <!-- <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div> -->

    <div class="loader-inner line-scale">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>