<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    ای وای!</h1>
                <h2>
                   کد خطا404 صفحه پیدا نشد</h2>
                <div class="error-details">
                   .متاسفم یه خطایی پیش امود صفحه اتون رو پیدا نکردم!
                   اگه پزشک هستید می خواهید قسمت ثبت نام اتون رو ویرایش  و یا تکمیل کنید حتما باید
                  به وسیله نام کاربری و رمز ورود ، وارد سامانه بشید
                 
                </div>
                <div class="error-actions">
                    <a href="/dashboard" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
                        بریم به خونه </a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="fa fa-envelope"></span> تماس با پشتیبانی </a>
                </div>
                <div class="container">
                   <h1><%= errormsg  %></h1>
                </div>
            </div>
        </div>
    </div>
</div>
