<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    ای وای!</h1>
                <h2>
                   کد خطا500  خطای سمت سرور!</h2>
                <div class="error-details">
                    متاسفانه خطای در سمت سرور پیدا شده لطفا مجدد تلاش کنید
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
                        بریم به خونه </a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="fa fa-envelope"></span> تماس با پشتیبانی </a>
                </div>
            </div>
        </div>
    </div>
</div>
