<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Core theme CSS (includes Bootstrap)-->
  <!-- <link href="/css/bootstrap.rtl.min.css" rel="stylesheet"> -->
  <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/css/stylePrj/styles.css">
   <link rel="stylesheet" href="/fonts/font-awesome.css">
   <link href="/css/stylePrj/sticky-footer-navbar.css" rel="stylesheet">
   
</head>
<body>
   <!-- section Moahrefii -->
   <div class="caption-top">
    <h1 class="m-3 p-2 text-primary">پزشک محترم</h1>
    <h2 class="m-3">با این سامانه شما صاحب یک مطب پزشکی در فضای ابری با امکانات زیر  خواهید شد!</h2>
    <h5 class="text-danger col-md-12"><i class="fa fa-check m-1 p-2">زمان بندی نوبت های  مطب براساس روزهای کاری مطب</i> </h5>
    <h5 class="text-danger col-md-12"><i class="fa fa-check m-1 p-2">امکان اخذ نوبت  اینترنتی  توسط بیماران</i> </h5>
    <h5 class="text-danger col-md-12"><i class="fa fa-check m-1 p-2">امکان اخذ نوبت  حصوری  توسط بیماران</i> </h5>
    <h5 class="text-danger col-md-12"><i class="fa fa-check m-1 p-2">ویزیت ونوشتن سابقه بیماران با قلم نوری</i> </h5>
   </div>
   <!-- end section Moahrefii -->
   
   <!-- section title help menus -->
   <h1 class="text-center text-primary border border-dark-subtle
              rounded-5 col-2 
             align-self-center " id="rahnema">راهنما</h1>
   <!-- section title help menus -->
   
   <!-- section  menus -->
    <a href="#registerSick1"><h2 class="mt-2 mx-3 text-primary-emphasis ">ثبت نام بیماران</h2></a>
    <a href="#enter1"><h2 class="mt-2 mx-3 text-primary-emphasis ">ورود به سامانه</h2></a>
    <a href="#doctor1"><h2 class="mt-2 mx-3 text-primary-emphasis ">ثبت نام پزشکان</h2></a>
    <a href="#changePass"><h2 class="mt-2 mx-3 text-primary-emphasis ">تغییر رمز</h2></a>
    <a href="#serachbySicks"><h2 class="mt-2 mx-3 text-primary-emphasis ">جستجوی پزشکان رزرو نوبت(مخصوص بیماران)</h2></a>
    <a href="#mynobats"><h2 class="mt-2 mx-3 text-primary-emphasis ">نوبت های من</h2></a>
    <a href="#matab1"><h2 class="mt-2 mx-3 text-primary-emphasis ">منوی  مطب و پزشک</h2></a>
    <a href="#matabcrnobat"><h2 class="mt-2 mx-3 text-primary-emphasis ">ایجاد نوبت وزیزت(مخصوص مطب)</h2></a>
    <a href="#matabnonathozri"><h2 class="mt-2 mx-3 text-primary-emphasis ">مطب - رزرو نوبت حضوری</h2></a>
    <a href="#matablistview"><h2 class="mt-2 mx-3 text-primary-emphasis ">مطب(منشی)- مشاهده نوبت ها</h2></a>
    <a href="#matabvisitdoctor"><h2 class="mt-2 mx-3 text-primary-emphasis ">پزشک(ویزیت از طریق لیست)</h2></a>
    <!-- end  section menus -->
    <!--section  register bemaran-->
    <hr class="bg-danger border-4 border-top border-danger" id="registerSick1"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >ثبت نام بیماران</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">انتخاب منوی زیر از نوار ابزار سامانه</h3><img src="/help/registerSick1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <p class="p-2 m-3">اطلاعات زیر را بدقت وارد کنید سپس کلید ثبت را بزنید. سپس از طریق منوی ورود وارد سامانه شوید</p><img src="/help/registerSick2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-4 col-md-10">
    </div>
    <!--section  register bemaran-->
    <!--section  vorod -->
    <hr class="bg-danger border-4 border-top border-danger" id="enter1"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " > ورود به سامانه </h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">انتخاب منوی زیر از نوار ابزار سامانه</h3><img src="/help/enter1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <p class="p-2 m-3">شماره موبایل،رمز و کد امنیتی را وارد نمایید سپس دکمه ورود را کلیک نمایید</p><img src="/help/enter2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-4 col-md-10">
    </div>
    <!--section  register vord-->

    <!-- section register doctot -->
    <hr class="bg-danger border-4 border-top border-danger" id="doctor1"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >ثبت نام پزشکان</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3 text-danger-emphasis">انتخاب منوی زیر از نوار ابزار سامانه</h3><img src="/help/doctor1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <p class="p-2 m-3 text-danger-emphasis">با کلیک روی علامت بعلاوه  منوی مربوطه باز شده  موارد مشخص شده را کامل  و ثبت نمایید</p><img src="/help/doctor2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">مشخصات فردی پزشک را کاملا در این منو ثبت نمایید</p><img src="/help/doctor3.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">روزهای تعطیل را مشخص نمایید اگر فقط روز جمعه تعطیل هستید  فقط جمعه را علامت دار کنید اگر تمایل دارید پیامی برای مراجعه کنندگان نشان دهید در این قسمت ثبت نمایید این متن در قسمت اخذ نوبت برای بیماران قابل نمایش خواهد بود</p><img src="/help/doctor4.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">خلاصه سوابق کاری پزشک جهت نمایش برای مراجعه کنندگان و پروفایل پزشک در این قسمت  ثبت می گردد </p><img src="/help/doctor5.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">پذیرش قوانین سایت</p><img src="/help/doctor6.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">عکس پزشک جهت نمایش  در پروفایل پزشک  برای نمایش  مراجعه کنندگان</p><img src="/help/doctor7.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <p class="p-2 m-3 text-danger-emphasis">پیش نمایش کارت ویزیت که مراجعه کنندگان به هنگام بازدید مشاهده خواهند کرد  در این قسمت قابل نمایش است - این اطلاعات  غیر واقعی جهت مثال می باشد </p><img src="/help/visitcard.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-6 col-md-11">
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
    </div>
    <!-- end section register doctot -->
    
    <!-- section change password -->
    <hr class="bg-danger border-4 border-top border-danger" id="changePass"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >تغییر رمز</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">انتخاب منوی زیر از نوار ابزار سامانه</h3><img src="/help/changepass.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <p class="p-2 m-3">رمز عبور قدیم   و رمز عبور جدید را در منوی  زیر وارد کنید  بعد از ثبت  رمز عبور تغییر خواهد کرد</p><img src="/help/changepass2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-5 col-md-10">
    </div>
    <!-- End section change password -->
   
    <!-- section serach by siecks -->
    <hr class="bg-danger border-4 border-top border-danger" id="serachbySicks"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >جستجوی پزشکان رزرو نوبت(مخصوص بیماران)</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">نام پزشک ویا نام پزشک بهمراه تخصص  و شهر اینجا وارد و جستجو کنید</h3><img src="/help/searchSick1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
    </div>
    <!-- end section serach by siecks -->
    
    <!-- section my nobats -->
    <hr class="bg-danger border-4 border-top border-danger" id="mynobats"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >نوبت های من</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">با ا نتخاب این منو هر مراجعه کننده می تواند نوبت های خود را مشاهده و در صورت تمایل حذف نماید</h3><img src="/help/mynobats.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
    </div>
    <!-- end ection my nobats -->
    
    <!-- section matab & pezeshk-->
    <hr class="bg-danger border-4 border-top border-danger" id="matab1"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >منوی  مطب و پزشک</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3"> ابتدا این منو را کلیک نمایید</h3><img src="/help/matab11.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h3 class="p-2 m-3">سپس منوهای مطب  و پزشک با عنوان امکانات ویژه باز خواهد شد</h3><img src="/help/matab2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-sm-3 col-lg-3">
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
    </div>
    <!-- End section matab & pezeshk-->
    
    <!-- section matab & create nobat -->
    <hr class="bg-danger border-4 border-top border-danger" id="matabcrnobat"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >ایجاد نوبت وزیزت(مخصوص مطب)</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3"> ابتدا این منو را کلیک نمایید</h3><img src="/help/matab11.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3">سپس منوهای مطب  و پزشک با عنوان امکانات ویژه باز خواهد شد. منوی ایجاد نوبت ویزیت را انتخاب نمایید</h3><img src="/help/matabcrnobat2.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-sm-3 col-lg-3">
      <h3 class="p-2 m-3">سامانه دو نوع نوبت دارد نوبت حضوری  برای مراجعه کنندگان مستقیم به مطب و نوبت اینترنتی که  بیماران می توانند از طریق سایت  اینترنتی نوبت رزرو کنند. نوبت صبح  و نوبت عصر را انتخاب کرده  همچنین بازه زمانی مورد نظر را و بازه ساعت را مثلا نوبت صبح از ساعت 10:00 تا ساعت 13:00 هر 10 دقیقه سپس دکمه ایجاد نوبت این کار را برای نوبت صبح حضوری  و سپس نوبت عصر حضوری و... انجام دهید </h3><img src="/help/createnobat.png" class="img-fluid mt-2 mx-5 p-1 align-content-center col-lg-8  col-md-10">
    </div>
    <!-- end section matab & create nobat -->

    <!-- section matab nobat hozori -->
    <hr class="bg-danger border-4 border-top border-danger" id="matabnonathozri"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >مطب - رزرو نوبت حضوری</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3"> ابتدا این منو را کلیک نمایید</h3><img src="/help/matab11.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h3 class="p-2 m-3">سپس منوهای مطب  و پزشک با عنوان امکانات ویژه باز خواهد شد. منوی مطب- نوبت حضوری را انتخاب نمایید</h3><img src="/help/matabcrnobathozri22.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-sm-3 col-lg-3">

      <h3 class="p-2 m-3">نام بیمار را جستجو کنید بعد از تقویم نوبت ها را مشاهده کنید سپس روی نام بیمار کلیک  میکنید تا به منوی زیر منتقل شود  یک وقت را کلید تا نوبت به بیمار اختصاص یابد</h3><img src="/help/nobathozori.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
    </div>
    <!-- end section matab nobat hozori -->

    <!-- section matab monshi list bemaran -->
    <hr class="bg-danger border-4 border-top border-danger" id="matablistview"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >مطب(منشی)- مشاهده نوبت ها</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3"> ابتدا این منو را کلیک نمایید</h3><img src="/help/matab11.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h3 class="p-2 m-3">سپس منوهای مطب  و پزشک با عنوان امکانات ویژه باز خواهد شد. منوی مطب(منشی)- مشاهده نوبت ها را انتخاب نمایید</h3><img src="/help/matablistview.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-sm-3 col-lg-3">

      <h3 class="p-2 m-3"></h3><img src="/help/matablist.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h5 class="text-warning-emphasis">بطور پیش فرض به محض ورود نوبت های بیماران در روز جاری قابل مشاهده خواهد بود</h5>
      <h5 class="text-dark-emphasis">از( 1) نام  کد ملی کد رهگیری  شماره موبایل بیمار قابل جستجو و انتخاب  می شود   </h5>
      <h5 class="text-dark-emphasis">از (2)  لیست نوبت های بیمار نشان داده می شود</h5>
      <h5 class="text-dark-emphasis">از (3) اگر بیمار در مطب حاضرشود تیک حضور سپس دکمه (5) جهت ذخیره کلیک شود</h5>
      <h5 class="text-dark-emphasis">از (4) اگر بخواهیم بیمار را جهت ویزیت به پزشک ارجاع دهیم تا برای دکتر در منوی پزشک جهت ویزیت قابل مشاهده باشد، تیک پزشک  سپس دکمه( 5) جهت ذخیره وضعیت کلیک شود </h5>
      <h5 class="text-dark-emphasis">در (6) بعد از اتمام ویزیت توسط پزشک  بطور اتمات  علامت دار می شود گرچه این تیک نیز از همین منو قابلیت تغییر دارد</h5>
      <h5 class="text-dark-emphasis">از (7)  برای انتخاب بیمار و رفتن به منوی ویزیت بو سیله قلم نوری استفاده نمایید</h5>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
    </div>
    <!-- end section matab monsi list bemaran -->
  
    <!-- section matab pezesh visit as list -->
    <hr class="bg-danger border-4 border-top border-danger" id="matabvisitdoctor"/>
    <div class="mt-2" >
      <h2 class="mt-2 mx-3 text-primary-emphasis " >پزشک (ویزیت از طریق لیست)</h2>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
      <h3 class="p-2 m-3"> ابتدا این منو را کلیک نمایید</h3><img src="/help/matab11.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h3 class="p-2 m-3">سپس منوهای مطب  و پزشک با عنوان امکانات ویژه باز خواهد شد. منوی پزشک(ویزیت از طریق لیست)راانتخاب نمایید</h3><img src="/help/doctorvisitmenu1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-sm-3 col-lg-3">
      <h3 class="p-2 m-3">بلافاصله وارد این منو میشود که بطور پیش فرض فهرست بیماران ارجاع  شده برای ویزیت توسط منشی در روز جاری می باشد </h3><img src="/help/visitdoctor1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h5 class="text-black">از (1) جهت انتخاب بیمار و رفتن  به منوی ویزیت با قلم نوری  استفاده نمایید</h5>
      <h3 class="p-2 m-3"></h3><img src="/help/visitmenu1.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h5>از (1) برای رفتن به  منوی استفاده از قلم نوری  و دستنوشته  برای ویزیت استفاده نمایید در این حالت یک صفحه سفید بعنوان صفحه جدید باز خواهد شد</h5>
      <h5>از (2) برای  اتمام ویزیت و رفتن به لیست بیماران  جهت ویزیت استفاده نماییدهمچنین با انتخاب این  گزینه وضعیت بیمار به اتمام ویزیت  تبدیل خواهد شد</h5>
      <h5>از(3) و (4) برای ورق زدن بین دستنوشته ها استفاده نمایید</h5>
      <h5>در (5) یعنی داخل تصویر دابل کلیک کنید به منوی استفاده از قلم نوری و ویرایش همان تصویرمنتقل خواهید شد</h5>
      <h3 class="p-2 m-3"></h3><img src="/help/lightpen.png" class="img-fluid mt-2 mx-5 p-1 align-content-center  col-md-10">
      <h5>از(1) و ابزارهای آن هنگام استفاده از قلم نوری استفاده نمایید</h5> 
      <h5>از(2) برای ذخیره دستنوشته و برگشتن به  منوی قبل استفاده نمایید</h5>
      <a href="#rahnema" class="pull-left p-2 m-5"><p class="fa fa-2x fa-arrow-up"></p></a>
    </div>
    <!-- end section matab pezesh visit as list -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>   
    <script src="/jsPrj/switch.js"></script>
    <script src="/jsPrj/SignUpSick.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>