@font-face {
    font-family: "ReenieBeanie";
    src: url("../../fonts/ReenieBeanieRegular.eot") format("eot"),
         url("../../fonts/ReenieBeanieRegular.ttf") format('truetype'),
         url("../../fonts/ReenieBeanieRegular.woff") format('woff'),
         url("../../fonts/ReenieBeanieRegular.woff2") format('woff2');
         font-weight: normal;
         font-style: normal;
  }

@font-face {
    font-family: "BYekan";
    src: url("../../fonts/BYekan-webfont.eot") format("eot"),
        url("../../fonts/BYekan-webfont.woff") format("woff"),
        url("../../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tomatoes-O8L8';
    src: url(../../fonts/Tomatoes-O8L8.eot);
    src: url(../../fonts/Tomatoes-O8L8.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/Tomatoes-O8L8.ttf) format('truetype'),
         url(../../fonts/Tomatoes-O8L8.woff) format('woff'),
         url(../../fonts/Tomatoes-O8L8.woff2) format('woff2');
  }

@font-face {
    font-family: "Satisfy";
    src: url("../../fonts/Satisfy-Regular.eot") format("eot"),
         url("../../fonts/Satisfy-Regular.woff") format("woff"),
         url("../../fonts/Satisfy-Regular.woff2") format("woff2"),
         url("../../fonts/Satisfy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto-Regular.eot") format("eot"),
        url("../../fonts/Roboto-Regular.woff") format("woff"),
        url("../../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "parastoo";
    src: url("../../fonts/Parastoo-Bold.eot") format("eot"),
        url("../../fonts/Parastoo-Bold.woff") format("woff"),
        url("../../fonts/Parastoo-Bold.woff2") format("woff2"),
        url("../../fonts/Parastoo-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:"BYekan";
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.sample-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background:yellowgreen;
}
.farsi-text{ font-family: 'BYekan', Courier, monospace;}


.form-group {
    margin-bottom: 1rem;
}
.d-flex {
    display: flex;
    align-items: center;
}
.mr-2 {
    margin-right: 0.5rem;
}
.ml-4 {
    margin-left: 1.5rem;
}
.ml-3 {
    margin-left: 1rem;
}


   
   