@font-face {
    font-family: "BYekan";
    src: url("../../fonts/BYekan-webfont.eot") format("eot"),
        url("../../fonts/BYekan-webfont.woff") format("woff"),
        url("../../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BYekan" !important;
}  

.listechoofday{
    font-family: "BYekan" !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.listechoofdayheader{
    font-family: "BYekan" !important;
    font-size: medium; 
    font-style: normal;
    direction: rtl;
    text-align: right
}
.listdetail{
    font-family: "BYekan" !important;
    font-size: medium; 
    font-style: normal; 
    direction: rtl;
    text-align: right;
}
/* new */
.Listofechosofday{
    margin-top: 20px;
    width:100%;
    border-collapse: collapse; /* برای حذف فاصله بین سلول‌ها */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
   .Listofechosofday th,  .Listofechosofday td {
    vertical-align: middle;
    text-align: center;
    padding: 1px;
    border: 1px solid #cce7ff; /* اضافه کردن حاشیه به سلول‌ها */
  }
  
  .Listofechosofday th {
    background-color: #007bff;
    color: #ffffff;
  }
  
 

