<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تقویم شمسی</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Persian Date Picker CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/css/persian-datepicker.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>


 
<body>
    <header class="mb-5">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark  ">
          <div class="container-fluid border-success bg-info hnnavbar-top-style ">
            <a class="navbar-brand" href="#"><span class="fa fa-stethoscope bg-success  my-3"></span> دکتر پیش تو</a>
            <button class="navbar-toggler" type="button" 
               data-bs-toggle="collapse" 
               data-bs-target="#navbarCollapse"
               aria-controls="navbarCollapse" aria-expanded="false"
               aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav  mb-2 mb-md-0">
                <li class="nav-item pl-0 border border-5 " >
                  <div class="input-group mb-2 mt-1"
                     <% if (path=='setEcho'|| path=='setEchoconfig') { %>
                          style="display: none;"
                     <% }%>
                       
                    >
                     <!-- axelary variales send to javascript file this page -->
                     <script>
                       let UserSelectedDate ="<%=UserSelectedDate %>"
                       var DisabledDays = "<%= user.DisableDays %> "
                        //  because,doctor in matab,must see all of dyaes
                       DisabledDays =[]; 
                       if (DisabledDays!=" ") 
                            DisabledDays = DisabledDays.split(",").map(Number);
                     </script>
                      <form class="border border-5 border-danger " action="/dashboard/EchoSerachFetch/" method="GET" id="FormSearchDate">
                          <div class="container">
                             <div class="form-group d-flex" style="text-align:right; align-items: right; margin: 0; " >
                                 <span  class="input-group-text border border-5"  id="dtp1" >📅</span>
                                 <input  type="text" class="form-control"  placeholder="انتخاب تاریخ ..." data-name="dtp1text"  name="UserSelectedDate" id="SelectedDate" value="" readonly>
                             </div>
                          </div>
                          <div class="form-group">
                            <input type="hidden" value="<%= user._id  %>" name="iddoctor" >
                            <!-- //* milady date input showing but hide need to developer-->
                            <input type="text" class="form-control" data-name="dtp1date" name="UserSelectedDateMil"
                            id="SelectedDateMil" value="" hidden>
                          </div>
    
                      </form>
                      
                  </div>
                   
                </li>
                
                <li class="nav-item pl-0 d-none d-sm-block">
                  <a class="nav-link active" href="#">راهنما</a>
                </li>
                <li class="nav-item pl-0">
                  <a class="nav-link active" href="/dashboard">
                    <p class="fa fa-2x fa-home"></p>
                  </a>
                </li>
                <li class="nav-item pl-0">
                  <a class="nav-link active" href="/users/logout">
                    <p class="fa fa-2x fa-sign-out"></p>
                  </a>
                </li>
                <li class="nav-item pl-0">
                  <!-- dork mode light mode section -->
                  <div class="form-check form-switch ms-auto mt-2 me-1">
                    <label class="form-check-label ms-3" for="lightSwitch">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-brightness-high" viewBox="0 0 16 16">
                        <path
                          d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                      </svg>
                    </label>
                    <input class="form-check-input " type="checkbox" style="display:none" id="lightSwitch" />
                  </div>
                </li>
              </ul>
               
              <form class="input-group bg-warning  p-0 col-md " id="FormSearch"
                    role="search" method="GET" action="/dashboard/userEchoSerach" dir="rtl">
                <input type="hidden" value="<%= user._id  %>" name="iddoctor" >
                <input autocomplete="off" class="form-control  col-12 " type="search" id="searchInputId" name="searchInputId"
                  placeholder=" برای انجام اکو کدملی بیمار جستجو شود ..." aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="submit">
                    <span class="fa fa-search blue-color fa-lg fa-fw " aria-hidden="true"></span>
                  </button>
                </div>
              </form>
            </div>
            <div>
              <a class="p-2 text-bg-success rounded rounded-5 m-1" href="/dashboard/MatabView/<%= user._id  %>" class="text-danger" ></span>مطب پزشک</a> 
            </div>
            <% if (user!='' ) { %>
              <a class="navbar-brand col-md-3 col-lg-2 d-none d-sm-block mr-0 px-3  text-center" href="#">
                <h5>خوش آمدید! مطب دکتر</h5>
                <%-`${user.FullName} `%></a>
              <% } %>
          </div>
          
        </nav>
    </header>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Persian Date Picker JS -->
<script src="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/js/persian-datepicker.min.js"></script>
<script src="/jsPrj/callender.js"></script>
</body>
</html>